/*visuel général*/
body
{
    font-family: 'Raleway', sans-serif;
}
h1
{
    font: bold;
    margin: 10px;
}
h2
{
    font: bold;
    margin: 8px 0 8px 0;
}
strong
{
    font: bold;
}
a
{
    text-decoration: none;
    color: unset;
}
/*visuel en-tête*/
.header-nav
{
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    grid-template-rows: 50px;
    align-items: center;
}
.header-logo
{
    grid-column: 1;
}
header a:hover
{
    border-top: solid #0065FC;
}
.lien-heberg
{   
    grid-column: 2;
    text-decoration: none;
    color: black;
    border-top: solid white;
    padding: 15px;
    margin: 2px;
    place-self: center;
}
.lien-heberg:hover
{
    color: #0065FC;
}
.lien-acti
{
    grid-column: 3;
    text-decoration: none;
    color: black;
    border-top: solid white;
    padding: 15px;
    margin: 2px;
    place-self: center;
}
.lien-acti:hover
{
    color: #0065FC;
}
.lien-inscri
{
    font-weight: bold;
    color: #0065FC;
    grid-column: 4;
    text-decoration: none;
    border-top: solid white;
    padding: 15px;
    margin: 2px;
    place-self: center;
}
@media all and (max-device-width: 480px)
{
    .header-nav
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40px 40px;
    }
    .header-logo
    {
        grid-column: 1;
        grid-row: 1 / 2;
    }
    .lien-heberg
    {   
        grid-column:1;
        grid-row:2 / 3;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
    }
    .lien-heberg:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    .lien-acti
    {
        grid-column: 2;
        grid-row:2 / 3;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
    }
    .lien-acti:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    .lien-inscri
    {
        grid-column: 2;
        grid-row:1 / 2;
    }
}
.text-accueil p
{
    margin: 0 0 10px 10px;
}
.bar-recherche
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-map-marker-alt
{
    background-color:#F2F2F2;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}
.formulaire-rech
{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid #F2F2F2;   
}
input[type=text] 
{
    border: 1px solid #F2F2F2;
    width: 150px;
}
input[type=button]
{
    border: none;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}
.text-qtlogement
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-info-circle
{
    border-radius:100%;
    color: white;
    background-color:#0065FC;
}
.bar-filtres
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.bouton-filtre
{
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}
.bouton-filtre:hover
{
    background-color: #DEEBFF;
}
.logo-filtre
{
    display: flex;
    color:#0065FC;
    background-color:#DEEBFF;
    height: 100%;
    width: 50px;
    border-radius: 50px 50px 50px 50px;
    font-size:30px;
    align-items: center;
    justify-content: center;
}
.text-filtre
{
    font-weight: bold;
    margin: 20px;
}

/*visuel des cartes*/
.carte
{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 5px;
    align-items: flex-start;
}
.carte-verticale
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.carte-horizontale
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texte-carte-v
{
    margin: 5px;
}
.texte-carte-h
{
    margin: auto auto auto 10px;
    display: flex;
    flex-flow: column wrap;
}

/*visuel des images*/
.img-hebergement
{
    border-radius: 20px 20px 0 0;
    height: 115px;
    width: 100%;
    margin: 5px;
    object-fit: cover;
}
.img-populaire
{
    border-radius: 20px 0 0 20px;
    width: 130px;
    height: 135px;
    margin: 5px;
    object-fit: cover;
}
.img-activite
{
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
    
}
@media all and (max-device-width: 480px)
{
    .img-hebergement
    {  
        object-fit: cover;
        height: 300px;
        width: 100%;
    }
    .img-activite
    {
        height: 300px;
    }
}

/*visuel hébergement*/
#box-hebergement
{
    display: flex;
    flex-direction: row;    
}
.zone-hebergement
{
    width: 70%;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
}
.zone-populaire
{
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
}
.classeur-hebergement
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows:50% 50%;



    /*display: flex;
    flex-flow: row wrap;
    justify-content: center;*/
}
.classeur-populaire
{
    display: flex;
    flex-flow: column wrap;
}
@media all and (max-device-width: 480px)
{
    #box-hebergement
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .zone-hebergement
    {
        width: 100%;
    }
    .zone-populaire
    {
        width:100%;
    }
    .classeur-hebergement
    {
        display: flex;
        flex-direction: column;
    }
}
/*visuel activité*/
#box-activite
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}
.classeur-activite
{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:50% 50%;
}
.carte-activite--1
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.carte-activite--2
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.carte-activite--3
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.carte-activite--4
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.carte-activite--5
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.carte-activite--6
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
@media all and (max-device-width: 480px)
{
    .classeur-activite
    {
        display: flex;
        flex-direction: column;
    }
}
/*visuel pied page*/
footer
{
    display: flex;
    flex-flow: row wrap;
    background-color:#F2F2F2;
    width: 100%;
}
footer ul 
{
    list-style-type: none;
}
/*visuel smartphone*/
@media all and (max-device-width: 480px)
{
    footer{flex-direction: column;}
}

