/*page de traitement du rendu par défaut*/

/*visuel général*/
body
{
    font-family: 'Raleway', sans-serif;
}
h1
{
    font: bold;
    font-size: 1.5em;
    margin: 10px;
}
h2
{
    font: bold;
    font-size: 1.1em;
    margin: 8px 0 8px 0;
}
strong
{
    font: bold;
}
a
{
    text-decoration: none;
    color: unset;
}
/*visuel en-tête*/
.header-nav
{
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    grid-template-rows: 50px;
    align-items: center;
}
.header-logo
{
    grid-column: 1;
}
header a:hover
{
    border-top: solid #0065FC;
}
.lien-heberg
{   
    grid-column: 2;
    text-decoration: none;
    color: black;
    border-top: solid white;
    padding: 15px;
    margin: 2px;
    place-self: center;
}
.lien-heberg:hover
{
    color: #0065FC;
}
.lien-acti
{
    grid-column: 3;
    text-decoration: none;
    color: black;
    border-top: solid white;
    padding: 15px;
    margin: 2px;
    place-self: center;
}
.lien-acti:hover
{
    color: #0065FC;
}
.lien-inscri
{
    font-weight: bold;
    color: #0065FC;
    grid-column: 4;
    text-decoration: none;
    border-top: solid white;
    padding: 15px;
    margin: 2px;
    place-self: center;
}

.text-accueil p
{
    margin: 0 0 10px 10px;
}
.bar-recherche
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-map-marker-alt
{
    background-color:#F2F2F2;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}
.formulaire-rech
{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid #F2F2F2;   
}
input[type=text] 
{
    border: 1px solid #F2F2F2;
    width: 150px;
}
input[type=button]
{
    border: none;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}
.text-qtlogement
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-info-circle
{
    border-radius:100%;
    color: white;
    background-color:#0065FC;
}
.bar-filtres
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.bouton-filtre
{
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}
.bouton-filtre:hover
{
    background-color: #DEEBFF;
}
.logo-filtre
{
    display: flex;
    color:#0065FC;
    background-color:#DEEBFF;
    height: 100%;
    width: 50px;
    border-radius: 50px 50px 50px 50px;
    font-size:30px;
    align-items: center;
    justify-content: center;
}
.text-filtre
{
    font-weight: bold;
    font-size: 1em;
    margin: 20px;
}
.titre-filtre
{
    font-weight: bold;
    font-size: 1.1em;
}
/*visuel des cartes*/
.carte
{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px 10px 10px 10px;
    align-items: flex-start;
}

/*visuel étoile*/
.etoile
{
    color: #0065FC;
    width: 100%;
}
.etoile-4 i:nth-child(5)
{
    color: #d9d9d9;
}

.etoile-3 i:nth-child(5), .etoile-3 i:nth-child(4)
{
    color: #d9d9d9;
}

/*visuel des images*/
.img-hebergement
{
    border-radius: 20px 20px 0 0;
    height: 115px;
    width: 100%;
    margin: 5px;
    object-fit: cover;
}
.img-populaire
{
    border-radius: 20px 0 0 20px;
    width: 40%;
    height: 135px;
    margin: 5px;
    object-fit: cover;
}
.img-activite
{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

/*visuel hébergement*/
#box-hebergement
{
    display: flex;
    flex-direction: row;    
}
.zone-hebergement
{
    width: 70%;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
}
.zone-populaire
{
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
}
.classeur-hebergement
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:50% 50%;
    justify-content: center;
}
.titre-populaire
{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
}
.classeur-populaire
{
    display: flex;
    flex-flow: column wrap;
}
.texte-hebergement
{
    width: 100%;
    margin: 10px 5px 10px 20px;
}
.texte-hebergement p
{
    margin: 0 0 10px 0;
}
.texte-populaire
{
    display: grid;
    grid-template-rows:50% 50%;
    width: 50%;
    height: 120px;
    margin: 10px 0 10px 10px;
}
.texte-populaire p
{
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
}
.texte-populaire .etoile
{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
}

/*visuel activité*/
#box-activite
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin: 50px 0 0 0;
}
.classeur-activite
{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:50% 50%;
    align-items: flex-start;
    justify-content: center;
}
.texte-activite
{
    width: 100%;
    margin: 5px 5px 5px 20px;
}
.classeur-activite .carte:nth-child(1)
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.classeur-activite .carte:nth-child(1) .img-activite
{
    height: 400px;
}
.classeur-activite .carte:nth-child(2)
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.classeur-activite .carte:nth-child(2) .img-activite
{
    height: 180px;
}
.classeur-activite .carte:nth-child(3)
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-end;
}
.classeur-activite .carte:nth-child(3) .img-activite
{
    height: 110px;
}
.classeur-activite .carte:nth-child(4)
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.classeur-activite .carte:nth-child(4) .img-activite
{
    height: 400px;
}
.classeur-activite .carte:nth-child(5)
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.classeur-activite .carte:nth-child(5) .img-activite
{
    height: 150px;
}
.classeur-activite .carte:nth-child(6)
{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-end;
}
.classeur-activite .carte:nth-child(6) .img-activite
{
    height: 150px;
}

/*visuel pied page*/
footer
{
    display: flex;
    flex-flow: row wrap;
    background-color:#F2F2F2;
    width: 100%;
    margin: 50px 0 0 0;
}
footer ul 
{
    list-style-type: none;
}


