/*page de traitement du rendu smartphone*/

/*en tête*/
.header-nav
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px;
}
.header-logo
{
    grid-column: 1;
    grid-row: 1 / 2;
}
.lien-heberg
{
    grid-column:1;
    grid-row:2 / 3;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #F2F2F2;
}
.lien-heberg:hover
{
    border-top: none;
    border-bottom: 2px solid #0065FC;
}
.lien-acti
{
    grid-column: 2;
    grid-row:2 / 3;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #F2F2F2;
}
.lien-acti:hover
{
    border-top: none;
    border-bottom: 2px solid #0065FC;
}
.lien-inscri
{
    grid-column: 2;
    grid-row:1 / 2;
}


/*visuel hébergement*/
#box-hebergement
{
    flex-direction: column-reverse;
    align-items: center;
}
.zone-hebergement
{
    width:90%;
}
.zone-populaire
{
    width:90%;
}
.classeur-hebergement
{
    display: flex;
    flex-direction: column;
}
.img-hebergement
{  
    object-fit: cover;
    height: 100px;
    width: 100%;
}

/*visuel activité*/

.classeur-activite
{
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-activite
{
    height: 150px;
}
/*visuel bas de page*/
footer{flex-direction: column;}