/*page de traitement du rendu smartphone et petite tablette*/

@media only screen 
  and (max-width: 820px)
  and (-webkit-device-pixel-ratio: 2) {

    /*visuel nav*/
    .header-nav
    {
        margin: 30px 0 35px 0;
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: 30px 30px;
        grid-template-areas: 
            "haut-g haut-d"
            "bas-g bas-d";
        grid-gap: 40px 0;
    }
    .header-nav a
    {
        margin: 2px;
    }
    #header-logo
    {
        grid-area: haut-g;
        padding: 0 0 0 20px;
    }
    #header-logo img
    {
        height: 30px;
    }
    .lien-heberg
    {
        grid-area: bas-g;
        padding: 0 0 16px 0;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
    }
    .lien-heberg:hover
    {
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }
    .lien-acti
    {
        grid-area: bas-d;
        padding: 0 0 16px 0;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
    }
    .lien-acti:hover
    {
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }
    .lien-inscri
    {
        grid-area: haut-d;
        padding: 8px 0 0 0;
        width: 100%;
        text-align: center;
    }
    .lien-inscri:hover
    {
        border-top: 2px solid white;
    }
    #text-accueil
    {
        margin: 0 65px 40px 20px;
        font-size: 12px;
    }

    /*Recherche*/
    #bar-recherche
    {
        display: grid;
        grid-template-columns: 50px auto 50px;
        margin: 0 20px 30px 20px;
    }
    #formulaire-rech
    {
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 50px;
    }
    input[type=text] 
    {
        width: 100%;
    }
    .btn-texte
    {
        display: none;
    }
    .btn-logo
    {
        display: unset;
        grid-area: rech-btn;
        border: none;
        color: white;
        background-color: #0065FC;
        border-radius: 10px 10px 10px 10px;
        font-size: 14px;
        padding: 0;
    }
    .fa-search
    {
        width: 50px;
    }

    /*filtre*/
    #bar-filtres
    {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows:repeat(4,60px);
        grid-template-areas:
            "titre titre"
            "econom famil"
            "roman roman"
            "anim anim";    
        margin: 0 0 40px 20px;
    }
    .bouton-filtre
    {
        margin: 0;
    }
    #bar-filtres .bouton-filtre:nth-child(1)
    {
        grid-area: titre;
    }
    #bar-filtres .bouton-filtre:nth-child(2)
    {
        grid-area: econom;
        max-width: 177px;
    }
    #bar-filtres .bouton-filtre:nth-child(3)
    {
        grid-area: famil;
        max-width: 140px;
    }
    #bar-filtres .bouton-filtre:nth-child(4)
    {
        grid-area: roman;
        max-width:168px;
    }
    #bar-filtres .bouton-filtre:nth-child(5)
    {
        grid-area: anim;
        max-width: 220px;
    }
    .text-filtre
    {
        margin: 0 auto 0 auto;
    }
    #text-qtlogement
    {
        margin: 0 20px 40px 20px;
    }

    /*visuel hébergement*/
    #box-hebergement
    {
        display: flex;
        flex-direction: column-reverse;
        margin: unset;    
    }
    #zone-hebergement
    {
        width: unset;
        background-color: unset;
        border-radius: 0;
        margin: 0 0 50px 0;
        padding: 0 20px 0 20px;
    }
    #zone-populaire
    {
        width: unset;
        background-color:#F2F2F2;
        border-radius: 0;
        padding: 40px 20px 35px 20px;
        margin: 0 0 40px 0;
    }
    .classeur-hebergement
    {
        display: flex;
        flex-direction: column;
        margin: 0 0 35px 0;
        grid-gap: 25px;
    }
    .classeur-activite
    {
        grid-gap: 25px;
    }

    /*visuel activité*/
    #box-activite
    {
        margin: 0 20px 60px 20px;
    }
    #classeur-activite
    {
        height: unset;
        display: flex;
        flex-direction: column;
        grid-gap: 25px;
    }

    #classeur-activite .carte:nth-child(1)
    {
        align-self: unset;
    }
    #classeur-activite .carte:nth-child(2)
    {
        align-self: unset;
    }
    #classeur-activite .carte:nth-child(3)
    {
        align-self: unset;
    }
    #classeur-activite .carte:nth-child(4)
    {
        align-self: unset;
    }
    #classeur-activite .carte:nth-child(5)
    {
        align-self: unset;
    }
    #classeur-activite .carte:nth-child(6)
    {
        align-self: unset;
    }
    #classeur-activite img
    {
        height: 133px;
    }

    /*visuel pied page*/
    footer
    {
        display: flex;
        flex-direction: column;
        background-color:#F2F2F2;
        padding: 0 20px 0 20px;
    }
    footer ul 
    {
        padding: 0;
        margin: 0 0 45px 0;
    }
}