/*visuel hébergement*/
#box-hebergement
{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 50px 65px 50px;    
}
#zone-hebergement
{
    width: unset;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 0 0;
    padding: 45px 40px 50px 40px;
}
#zone-populaire
{
    width: unset;
    background-color:#F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding: 45px 35px 35px 35px;
    margin: 0 0 50px 0;
}
.classeur-populaire
{
    display: grid;
    grid-template-columns: 33.33% 33.33% auto;
    grid-template-rows:auto;
    grid-gap: 20px;
}
.texte-populaire
{
    display: grid;
    grid-template-rows:repeat(2,auto);
    width: 100%;
    height: unset;
    margin: 5px;
    padding: 10px 0 10px 0;
}
.texte-populaire p
{
    margin: 0 0 10px 0;
}
.img-populaire
{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 135px;
    margin: 5px;
    object-fit: cover;
}

/*visuel activité*/
#classeur-activite
{
    display: grid;
    grid-template-columns: 33.33% 33.33% auto;
    grid-template-rows:auto;
    grid-gap: 0 0;
    grid-template-areas: 
        "z1 z2 z3"
        "z4 z5 z6";
    grid-gap: 20px;
}

#classeur-activite .carte:nth-child(1)
{
    grid-area: z1;
}
#classeur-activite .carte:nth-child(2)
{
    grid-area: z2;
    align-self: unset;
}
#classeur-activite .carte:nth-child(3)
{
    grid-area: z3;
    align-self: unset;
}
#classeur-activite .carte:nth-child(4)
{
    grid-area: z4;
}
#classeur-activite .carte:nth-child(5)
{
    grid-area: z5;
    align-self: unset;
}
#classeur-activite .carte:nth-child(6)
{
    grid-area: z6;
    align-self: unset;
}

#classeur-activite .carte:nth-child(1) img
{
    max-height: 135px;
}
#classeur-activite .carte:nth-child(2) img
{
    max-height: 135px;
}
#classeur-activite .carte:nth-child(3) img
{
    max-height: 135px;
}
#classeur-activite .carte:nth-child(4) img
{
    max-height: 135px;
}
#classeur-activite .carte:nth-child(5) img
{
    max-height: 135px;
}
#classeur-activite .carte:nth-child(6) img
{
    max-height: 135px;
}
.texte-activite
{
    height: 50px;
}